<h1>Login</h1>

  <%= form_for :login, url: '/login' do |f| %>

  <div class="form-group">
    <%= label_tag :email, 'Email' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= label_tag :password, 'Password' %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>


  <%= f.submit "Submit" %>


<% end %>